<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
  <div clas="container">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

   <!-- Mars data -->
  </div>
        
  <div class="container">
      <div class="row">
          <div class="col-sm-12">
              <h3>Latest Mars News</h3>
              <h4>{{mars.news_title}}</h4> 
              <p>{{mars.news_paragraph}}</p>
            </div>
            <hr>
            <br>
            <div class="row">
                <div class="col-sm-8">
                    <h3>Featured Mars Image </h3>
                    <img src="{{ mars.featured_image}}", class="img-fluid", alt="Featured Image">
                </div>
      <hr>
      <br>
      <div class="col-sm-4">
        <h5>Mars Facts</h5>
        {{ mars.facts|safe}}
    </div>
  </div>
    <hr>
    <div class="row">
      <h3>Mars hemispheres </h3>
      <div class="col-sm-3">
          <img src="{{ mars.hemispheres[0]['img url']}}", alt="1" style="width:100%">
          <h5 class="card-title">{{ mars.hemispheres[0]['title']}}</h5>
          </div>
      <div class="col-sm-3">
          <img src="{{mars.hemispheres[1]['img url']}}", alt="2" style="width:100%">
          <h5 class="card-title">{{ mars.hemispheres[1]['title']}}</h5>
          </div>
      <div class="col-sm-3">
          <img src="{{mars.hemispheres[2]['img url']}}" , alt="3" style="width:100%">
          <h5 class="card-title">{{ mars.hemispheres[2]['title']}}</h5>
          </div>
        <div class="col-sm-3">
            <img src="{{mars.hemispheres[3]['img url']}}", alt="4" style="width:100%">
           <h5 class="card-title">{{ mars.hemispheres[3]['title']}}</h5>
    </div>
      </div>  
  </div>  
</body>
</html>